<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thank You</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="icon" href="/images/favicon.png" type="image/x-icon" />
    <style>
      body {
        font-family: "Arial", sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4ecd8; /* Cream background */
        color: #424242; /* Dark gray text color */
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh; /* Ensure the body takes up at least the full height of the viewport */
      }

      .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 800px; /* Set the maximum width of the container */
        margin: 0 auto; /* Center the container horizontally */
        padding: 20px;
      }

      .content {
        flex: 1; /* Grow to fill available space */
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: #333; /* Dark gray for headings */
      }

      a {
        color: #00798c; /* Teal color */
        text-decoration: none;
        transition: color 0.3s;
      }

      a:hover {
        color: #2f2f2f; /* Slightly darker shade on hover */
      }

      img {
        width: 400px; /* Set the maximum width of the image */
      }
    </style>
    <!-- Add your additional stylesheets or CDN links here -->
  </head>

  <body>
    <div class="container">
      <div class="content">
        <h1>Thank You for Shopping!</h1>

        <p>Your order has been successfully placed.</p>

        <a href="/" class="continue-button">Continue Shopping</a>
      </div>
      <img src="/images/ty.png" alt="" srcset="" />
    </div>

    <!-- Add your additional scripts or CDN links here -->
  </body>
</html>